body{
    background-image: url(../img/binary-system-63526_1280.jpg);
    /*background-color: darkgrey;*/
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin:0;
    font-size: 30px;
    margin-bottom: 20px;
}
form{
/*    background-image: url(img/Cifrado-de-datos-1.png);
    background-size: 500px 600px;*/
    width: 500px;
    height: 400px;
    margin: auto; 
    background:rgba(194, 187, 187, 0.767);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 8%;
}
fieldset{
    border-radius: 8%;
}
h1{
    color:rgba(46, 13, 236, 0.911);
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 29px;
}
p{
    color:rgb(87, 13, 13);
    text-align: center;
    margin: 0;
    font-size: 25px;
    margin-bottom: 29px;
    text-shadow: #31384A;
}
input, textarea{
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 15px;
    border:none;
}
input{
    width: 20%;
}
textarea{
    width: 100%;
    min-width: 100px;
    max-width: 100%;
    min-height: 100px;
}
#botones{
    text-align: center;
    margin: 0;
}
button{
    background:#31384A;
    color: #fff;
    padding: 20px;
    margin: inherit;
}
button:hover{
    cursor: pointer;
}
footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin: auto; 
    background-color: burlywood;
}
@media (max-width:480px){
    form{
        width:100%
    }
}